<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | My Site</title>
  <link rel='stylesheet'href='/library/sample.css' type='text/css' media='all' /> 
  <link rel='stylesheet'href='/library/cobalt2.prism.css' type='text/css' media='all' /> 
  {# <link rel='stylesheet'href='/library/prism.css' type='text/css' media='all' />  #}
  <script type="text/javascript" src="/library/prism.js"></script>

</head>
<body>

<div class="page">

  <header>
    <h1>$wp withagency<span>|</span></h1>
  </header>

  <nav class="tabs">
  {% set navPages = collections.post | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}<li{% if entry.url == page.url %} class="active"{% endif %}><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>{%- endfor %}<!--<li class="github"><a href="https://github.com/scottcarver/wp-withagency" target="_blank">Github</a><li>-->
  </ul>
  </nav>
 


  {{ content | safe }}


<!--
  <nav class="subnav">
  {% set navPages = collections.command | eleventyNavigation %}
  <ul>
    <li><a href="/commands">Commands:</a><li>
  {%- for entry in navPages %}
    <li{% if entry.url == page.url %} class="active"{% endif %}>
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
  </nav>
-->
  <nav class="subnav">
  {% set navPages = collections.reference | eleventyNavigation %}
  <ul>
    <li>Reference:<li>
  {%- for entry in navPages %}
    <li{% if entry.url == page.url %} class="active"{% endif %}>
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
  </nav>

{# 
  <nav class="subnav">
  {% set navPages = collections.reference | eleventyNavigation %}
  <ul>
    <li><a href="https://github.com/scottcarver/wp-withagency">Project on Github</a><li>
  </ul>
  </nav> #}
</div>

</body>
</html>