body{
    background:#ededed;
    background:#122433;
}
nav ul{padding:0;}
nav ul li{display:inline-block;margin:5px; }


nav.tabs ul li{
  background:rgba(0,0,0,.3);background:#224157;border-bottom:solid 2px transparent; border-radius:5px;
  margin:3px;
} /* border-radius:3px 3px 0 0; */
nav.tabs  ul li.active a, nav.tabs  ul li a:hover, nav.tabs  ul li a:focus{
  border-color:black;background:#e2d006;color:black;
} /*  background:rgba(255,255,0,.5); */
nav.tabs  ul li a{
  display:inline-block;text-decoration:none;color:white;
  padding:10px;
  padding:5px 7px;
  border-radius: 5px;
}

.subnav ul{
 /* background:#122433; */
  color:white;
  margin:0;
  padding:0;
  /* border-bottom:1px solid #ccc; */
  
}
.subnav ul li a{
  text-decoration: none;
  color:#3e8df7;
  color:rgba(255,255,255,.4);
  padding:5px 8px;
}
.subnav ul li.active a, .subnav ul li a:hover
{
  color:#e2d006;
  background:black;
  border-radius:5px;
}



hr{
  border-color:#122433;
}

code{
  background: lawngreen;
  background: #eb4472;
  color:#193549;
  color:black;
  padding: 2px 6px;

  white-space: nowrap;
  /* width: 100%; */


  /* white-space: nowrap; */
}

.longcode code{
  display: block;
  overflow-x: scroll;
  padding-bottom:1.4em;
}

video{
  width:100%;
  height:auto;
  vertical-align: bottom;
}
article{
    max-width:800px;
   
    border-radius:8px;
    /* margin-top:40px;
    background:rgba(0,0,0,.1); */
    padding:5px;
    padding-bottom:50px;
   /* border-radius:0 3px 3px 3px;

   border:solid 2px black;
    background:#193549;
    background:#224157;
     */
    color:white;
}

article strong{
  color: lightseagreen;
  /* font-family: georgia; */
}

article ul{padding:20px;}
article li{
  margin-bottom:1.2em;
}

.page{
    max-width:800px;
    font-family:sans-serif;
    line-height: 1.5;
    margin:40px auto 0 auto;
    
   /*  padding:10px;
   background:rgba(0,0,0,.1); */
}

article a{
  /* color:#ed1c24; 
  color:blue; */
  color:#3e8df7;
  background:#122433;
  background:rgba(0,0,0,.6);
  padding:2px 8px;
  border-radius:4px; 
  text-decoration: none;
 /* display:inline-block; */
 /* text-shadow:1px 1px 0px black; */

}


article a:hover{color:yellow;}
/* article strong{background-color:#122433;padding:0 4px;} */

.tabs{
  width: calc(100% + 10px);
  margin-left: -5px;
  padding: 0 0px 20px 10px;
 /* overflow:auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom:20px; */
  /*-webkit-overflow-scrolling: touch;*/
}
.tabs ul, .tabs li{margin-bottom:0;margin-left:0;/*white-space: nowrap;*/}
.tabs ul{
  /* display:flex;
  align-items: center;
  justify-content: center; 
  margin:0px 10px 0 10px;
  white-space: nowrap;*/
}
.tabs li{
  white-space: nowrap;
}

/*
li.github{
  margin-left:auto;
} 

li.github a{
    background-color:#e2d006;
    color:black !important;

  }
*/
header h1, article h1, article h2, article h3{
  color:#ffc600;
  font-family:monospace;
}
header span {
    color:#ffc600;
    -webkit-animation: 2s linear infinite marquee_anim; /* for Safari 4.0 - 8.0 */
    animation: 2s linear infinite marquee_anim;
}
  
/* for Safari 4.0 - 8.0 */
@-webkit-keyframes marquee_anim {
  0% {visibility: hidden;}
  50% {visibility: hidden;}
  100% {visibility: visible;}
}

@keyframes marquee_anim {
  0% {visibility: hidden;}
  50% {visibility: hidden;}
  100% {visibility: visible;}
}

.player{
  margin:0;
  padding:3px;
  padding-top:30px;
  margin-bottom:20px;
  background:#122433;
  background:#000;
 /*  border:2px #122433 solid;*/

 border-radius:8px 8px 0px 0px; 
}


.anchor{
  width:0;
  height:0;
  overflow: hidden;
  display: block;
  padding:0;
}