<?php
/* Documentation on acf_register_block_type includes many more options
https://www.advancedcustomfields.com/resources/acf_register_block_type/ */
add_action('acf/init', 'register_custom_{{slug}}');
function register_custom_{{slug}}() {

   if(function_exists('acf_register_block_type')) {
      acf_register_block_type(array(
         'name' => '{{prefix}}-{{slug}}',
         'title' => __('{{name}} Block'),
         'description' => __('{{Name}} with description'),
         'render_template' => 'library/block/{{prefix}}-{{slug}}/{{prefix}}-{{slug}}.php',
         // 'enqueue_style' => get_template_directory_uri() . '/library/blocks/story/' . 'story.css', // Instead, enque style.css to admin
         // 'enqueue_script' => get_template_directory_uri() . '/library/blocks/ol-carousel-grid/ol-carousel-grid.js',
         'enqueue_assets' => function(){
            // Carousel Scripts
            // vendor_carouselscripts();
            // Carousel Implementation
            wp_enqueue_script('{{prefix}}-{{slug}}', get_template_directory_uri().'/library/block/{{prefix}}-{{slug}}/{{prefix}}-{{slug}}.js', array('jquery'),'0.1.0', true );  
         },  
         'category' => 'layout',
         'icon' => 'align-center',
         'keywords' => array('games', 'grid', 'slider'),
         'mode'			=> 'preview',
         'supports'		=> [
            'align'			=> array( 'wide', 'full' ),
            'anchor'		=> true,
            'customClassName'	=> true,
            'jsx' 			=> true,
         ],
         // enable full_height
         'full_height' => true,
      ));
   }
}

