.{{prefix}}-{{slug}}{
	// Modifier: Loaded
	&.{{prefix}}-{{slug}}--loaded{
		.{{prefix}}-{{slug}}__content{background:green;}
	}
}

.{{prefix}}-{{slug}}__content{
	background:red;
	padding:10px;
	nav{ background:pink; }
}