<?php

/* Vendor Constants */
// define("VENDOR_MAPBOXAPI", "XXX");
// define("VENDOR_GOOGLEANALYTICSAPI", "XXX");

/* WP CLI Generator Constants */
/*  These are used by the `wp withagency` commands when creating new files */
define("THEME_PREFIX", "{{prefix}}");
define("THEME_DOMAIN", "{{domain}}");
define("THEME_NAME", "{{name}}");
define("THEME_SLUG", "{{slug}}");

/* Destinations */
// Block
define("DEST_BLOCK_FOLDER", "/library/block/");
define("DEST_BLOCK_FILE", "/library/function/custom/custom_blocks.php");
// Component
define("DEST_COMPONENT_FOLDER", "/library/component/");
define("DEST_COMPONENT_FILE", "/library/function/custom/custom_components.php");
// Endpoint
define("DEST_ENDPOINT_FOLDER", "/library/endpoint/");
define("DEST_ENDPOINT_FILE", "/library/function/custom/custom_endpoints.php");
// Posttype
define("DEST_POSTTYPE_FOLDER", "/library/posttype/");
define("DEST_POSTTYPE_FILE", "/library/function/custom/custom_posttypes.php");
// Route
define("DEST_ROUTE_FOLDER", "/library/route/");
define("DEST_ROUTE_FILE", "/library/function/custom/custom_routes.php");
// Taxonomy
define("DEST_TAXONOMY_FOLDER", "/library/taxonomy/");
define("DEST_TAXONOMY_FILE", "/library/function/custom/custom_taxonomies.php");
// Template
define("DEST_TEMPLATE_FOLDER", "/templates/");
define("DEST_TEMPLATE_FILE", "/library/function/custom/custom_template.php");
// Theme
define("DEST_THEME_FOLDER", "/library/theme/");
define("DEST_THEME_FILE", "/library/function/custom/custom_theme.php");