// Required Node/Gulop Plugins
const autoprefixer = require('gulp-autoprefixer');
const babel = require('gulp-babel'); // √
const browserSync = require('browser-sync').create();
const concat = require('gulp-concat');
const del = require('delete'); // √
const flatten = require('gulp-flatten');
const gulp = require('gulp'); // {src, dest, watch, series, parallel} 
const minifycss = require('gulp-clean-css');
const minifymq = require('gulp-group-css-media-queries');
const rename = require('gulp-rename'); // √
const sass = require('gulp-sass')(require('sass')); // √
const sourcemaps = require('gulp-sourcemaps');
const uglify = require('gulp-uglify'); // √ 


/* Distinct Use Cases
- combine css/js into globally shared files (style.css and dist/global)
- process compontent scss into oneoff .css files at (/dist/components/)
- process compontent js into oneoff js files at (/dist/components)
*/

// Paths for Processing All CSS, JS, Media
var paths = {
  // Theme Definition
  primarycss: {
    src: 'library/style/style.scss',
    dest: '.'
  },
  // Process SCSS in /style/ dir, but not the primarycss
  styles: {
    src: ['library/style/**/*.scss', '!library/style/style.scss'],
    dest: 'dist/global/'
  },
  // Copy Each Block SCSS individually, ignore if starts with _
  blocks: {
    src: ['library/block/**/*.scss', '!**/_*/**'],
    dest: 'dist/blocks/'
  },
  // Underscore makes invisible, ignore if starts with _
  blocksjs: {
    src: ['library/block/**/*.js', '!**/_*/**'],
    dest: 'dist/blocks/'
  },
  // Component CSS is Combined
  components: {
    src: 'library/component/**/*.scss',
    dest: 'dist/component/'
  },
  // Component JS is Combined
  componentjs: {
    // All individual js files for each component, ignore if starts with _
    src: ['library/component/**/*.js', '!**/_*/**'],
    dest: 'dist/component/'
  },
  // Convert javascript_combined.json into dist/main.min.js
  scripts: {
    src: ['js/**/*.js', '!js/unused/**'],
    dest: 'dist/global/',
    combined: require('./javascript_combined.json'),
    copied: require('./javascript_copied.json')
  },
  // Copy Images from library to dist
  images: {
    src: ['library/image/**/*'],
    dest: ['dist/image/']
  },
  // Copy Fonts from library to dist
  fonts: {
    src: ['library/font/**/*'],
    dest: ['dist/font/']
  }
};


/* 
 * Deletes the contents of /dist
 */
function clean() {
  return del(['dist', 'style.css']);
}

/** 
 * Creates /style.css 
 * contains a style definition only, read by the server but not enqueued
 */ 
function primaryStyle() {
  return gulp.src(paths.primarycss.src)
    .pipe(flatten())
    .pipe(sass())
    .pipe(rename('style.css'))
    .pipe(gulp.dest(paths.primarycss.dest))
    .pipe(browserSync.stream());
}

/**
 * Creates CSS for frontend and editor
 * /dist/global/main.min.css and /dist/global/editor.min.css
 */
function combineGlobalStyles() {
  return gulp.src(paths.styles.src)
    .pipe(sourcemaps.init())
    .pipe(sass())
    .pipe(autoprefixer())
    .pipe(minifymq())
    .pipe(minifycss())
    .pipe(rename({ suffix: '.min' }))
    .pipe(sourcemaps.write('./'))
    .pipe(gulp.dest(paths.styles.dest))
    .pipe(browserSync.stream());
}

/**
 * Creates oneoff Block CSS for each in /dist/blocks/*
 */
function copyBlocksCSS() {
  return gulp.src(paths.blocks.src)
    .pipe(flatten())
    .pipe(sourcemaps.init())
    .pipe(sass())
    .pipe(autoprefixer())
    .pipe(minifymq())
    .pipe(minifycss())
    .pipe(rename({ suffix: '.min' }))
    .pipe(sourcemaps.write('./'))
    .pipe(gulp.dest(paths.blocks.dest))
    .pipe(browserSync.stream());
}

/**
 * Creates oneoff Block JS in /dist/blocks/*
 */
function copyBlocksJS() {
  return gulp.src(paths.blocksjs.src)
    .pipe(flatten())
    .pipe(sourcemaps.init())
    .pipe(babel())
    .pipe(uglify())
    .pipe(rename({ suffix: '.min' }))
    .pipe(sourcemaps.write('./'))
    .pipe(gulp.dest(paths.componentjs.dest))
    .pipe(browserSync.stream());
}

// Combines all Component CSS into one file
function copyComponentCSS() {
  return gulp.src(paths.components.src)
    .pipe(flatten())
    .pipe(sourcemaps.init())
    .pipe(sass())
    .pipe(autoprefixer())
    .pipe(minifycss())
    .pipe(rename({ suffix: '.min' }))
    .pipe(sourcemaps.write('./'))
    .pipe(gulp.dest(paths.components.dest))
    .pipe(browserSync.stream());
}

function copyComponentJS() {
  return gulp.src(paths.componentjs.src)
    .pipe(flatten())
    .pipe(sourcemaps.init())
    .pipe(babel())
    .pipe(uglify())
    .pipe(rename({ suffix: '.min' }))
    .pipe(sourcemaps.write('./'))
    .pipe(gulp.dest(paths.componentjs.dest))
    .pipe(browserSync.stream());
}


function copyImages(){
  return gulp
    .src(paths.images.src)
    .pipe(gulp.dest(paths.images.dest));
}

/**
 * Straight copy fonts folder to dist
 */
function copyFonts(){
  return gulp
    .src(paths.fonts.src)
    .pipe(gulp.dest(paths.fonts.dest));
}


function combineScripts() {
  return gulp.src(paths.scripts.combined)
    .pipe(sourcemaps.init())
    .pipe(babel())
    .pipe(uglify())
    .pipe(concat('main.min.js'))
    .pipe(sourcemaps.write('./'))
    .pipe(gulp.dest(paths.scripts.dest))
    .pipe(browserSync.stream());
}

function copyScripts(){
  return gulp
    .src(paths.scripts.copied)
    .pipe(gulp.dest(paths.scripts.dest));
}

/* Are both Uglify and Concat Needed? */
/**
 * Watch Everything
 * 
 * Registers a series of watch commands for each individual asset-type
 * These run individually, unlike the buildcommand which runs all tasks
 */
function watchEverything() {
  // Primary CSS
  gulp.watch(paths.primarycss.src, primaryStyle);
  // Combined Global Styles (main.min.css)
  gulp.watch(paths.styles.src, combineGlobalStyles);
  // Combined Global Scripts (main.min.js)
  gulp.watch(paths.scripts.combined, combineScripts);
  // Copy !
  gulp.watch(paths.blocks.src, copyBlocksCSS);
  // Copied 
  gulp.watch(paths.blocks.src, copyBlocksJS);
  gulp.watch(paths.blocks.src, copyComponentCSS);
  gulp.watch(paths.componentjs.src, copyComponentJS);
  gulp.watch(paths.images.src, copyImages);
  gulp.watch(paths.fonts.src, copyFonts);
  gulp.watch(paths.scripts.copied, copyScripts);
}

/** 
 * Run a Browsersync service to inline assets while watching
 *  
 * */
function runBrowserSync(){
   // Proxy running on localhost:8888/test-wp-cli/
   browserSync.init({
    port: 8888,
    proxy: 'localhost/test-wp-cli/',
  });
}

/*
 * Specify if tasks to be run in order
 */
var allTasks = [
  primaryStyle, 
  combineGlobalStyles, 
  combineScripts,
  copyBlocksCSS, 
  copyBlocksJS, 
  copyScripts,
  // copyComponentJS, 
  // copyComponentCSS, 
  copyImages, 
  copyFonts
];

/**
 * Create a series which cleans/builds
 */
var buildSeries = gulp.series(clean, gulp.parallel(allTasks));

/**
 * Create a series which also cleans/builds/watches/synch
 */
var watchSeries = gulp.series(clean, buildSeries, runBrowserSync, watchEverything);

/**
 * Exports clean/build/watch commands
 * - gulp clean
 * - gulp build
 * - gulp watch
 * - gulp
 */
exports.clean = clean; // a task that deletes /dist entirely
exports.build = buildSeries; // A series of tasks for 'build'
exports.watch = watchSeries;  // Watch series for clean/build/serve
exports.default = buildSeries; // Does the same as build