<!DOCTYPE html>
<html <?php language_attributes(); ?> class="{{prefix}}-site">

<head>
    <?php /* Header Output Hook */ ?> 
    <?php wp_head(); ?>
</head>

<?php /* Opening Body Tag */ ?>
<body <?php custom_bodyclass(); ?>>

 <h1>{{name}} Theme!</h1>