<?php
// Reset the Header (default htmls)

// Get Params from URL
$param1 = get_query_var('param1');
$param2 = get_query_var('param2');

header("Content-type: text/html");
$markupstring = <<<MARKUP
<html>
    <h1>{$param1}</h1>
    <p>{$param2}</p>
</html>
MARKUP;
echo($markupstring);
?>