<?php
// new route with 2 positional arguments
// //param1-param2-{{routename}}.json

$new_{{routename}}_routes = new CustomRoutes();
$new_{{routename}}_routes->addRoute(
    "^([^/]*)-([^/]*)-{{routename}}.json?",
    'api_callback_{{routename}}',
    get_template_directory() . '/library/route/route_{{routename}}_template.php',
    array('param1' => 1, 'param2' => 2,)
);

function api_callback_{{routename}}($param1, $param2){
    set_query_var('param1', $param1);
    set_query_var('param2', $param2);
    // var_dump($param1, $param2);
}